USE [MarketManageSystem]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4.12.2023 09:05:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuyProducts]    Script Date: 4.12.2023 09:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[İsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BuyProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4.12.2023 09:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsStatus] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4.12.2023 09:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDateTine] [datetime] NOT NULL,
	[İsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4.12.2023 09:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsStatus] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4.12.2023 09:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsStatus] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellProducts]    Script Date: 4.12.2023 09:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SellProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4.12.2023 09:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsStatus] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BuyProducts] ON 

INSERT [dbo].[BuyProducts] ([Id], [UserId], [ProductId], [Quantity], [İsDelete]) VALUES (22, 1003, 11, 5, 1)
INSERT [dbo].[BuyProducts] ([Id], [UserId], [ProductId], [Quantity], [İsDelete]) VALUES (23, 1003, 12, 10, 1)
INSERT [dbo].[BuyProducts] ([Id], [UserId], [ProductId], [Quantity], [İsDelete]) VALUES (24, 1003, 13, 2, 1)
SET IDENTITY_INSERT [dbo].[BuyProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (1, N'Computer', N'Above this category you can list computers.', 1, N'C:\Categorys\yasir\OneDrive\Masaüstü\MarketManagementSystem\emptyCategory.jpg', 0)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (2, N'Phone', N'IOS and Android phones', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\emptyCategory.jpg', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [OrderDateTine], [İsDelete]) VALUES (1, 1003, CAST(N'2023-12-03T21:20:24.280' AS DateTime), 0)
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDateTine], [İsDelete]) VALUES (2, 1003, CAST(N'2023-12-03T21:44:21.987' AS DateTime), 0)
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDateTine], [İsDelete]) VALUES (3, 1003, CAST(N'2023-12-03T22:05:10.780' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Price], [Stock], [CategoryId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (11, 25, 7, 2, N'Deneme1', N'Deneme1''dir', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\emptyProduct.jpg', 0)
INSERT [dbo].[Products] ([Id], [Price], [Stock], [CategoryId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (12, 35, 20, 2, N'Deneme', N'Deneme2', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\emptyProduct.jpg', 0)
INSERT [dbo].[Products] ([Id], [Price], [Stock], [CategoryId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (13, 80, 95, 1, N'Deneme3', N'Deneme3', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\emptyProduct.jpg', 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (2, N'Admin', N'Admin has full access to the system.', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\admin.jpg', 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (3, N'Admin', N'Admin has full access to the system.', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\admin.jpg', 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (4, N'Customer', N'Customer can only view products.', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\customer.jpg', 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SellProducts] ON 

INSERT [dbo].[SellProducts] ([Id], [OrderId], [ProductId], [Quantity], [Price], [TotalPrice], [IsDelete]) VALUES (1, 6, 11, 2, 25, 50, 0)
INSERT [dbo].[SellProducts] ([Id], [OrderId], [ProductId], [Quantity], [Price], [TotalPrice], [IsDelete]) VALUES (2, 6, 12, 2, 35, 70, 0)
INSERT [dbo].[SellProducts] ([Id], [OrderId], [ProductId], [Quantity], [Price], [TotalPrice], [IsDelete]) VALUES (3, 6, 13, 2, 80, 160, 0)
SET IDENTITY_INSERT [dbo].[SellProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Surname], [Email], [Password], [RoleId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (1, N'Akkaya', N'yasir@akkaya.com', N'1907', 2, N'Yasir', N'SuperAdmin', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\514bc814-8e85-4d2e-8731-7487d94917a4.jpg', 0)
INSERT [dbo].[Users] ([Id], [Surname], [Email], [Password], [RoleId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (2, N'Admin', N'denem@admin.com', N'1234', 3, N'Deneme', N'deneme admin', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\emptyUser.jpg', 0)
INSERT [dbo].[Users] ([Id], [Surname], [Email], [Password], [RoleId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (1003, N'ali', N'ali', N'ali', 4, N'ali', N'ali', 1, N'C:\Users\yasir\OneDrive\Masaüstü\MarketManagementSystem\emptyUser.jpg', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[BuyProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyProducts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BuyProducts] CHECK CONSTRAINT [FK_dbo.BuyProducts_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[BuyProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyProducts_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BuyProducts] CHECK CONSTRAINT [FK_dbo.BuyProducts_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[SellProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SellProducts_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellProducts] CHECK CONSTRAINT [FK_dbo.SellProducts_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[SellProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SellProducts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellProducts] CHECK CONSTRAINT [FK_dbo.SellProducts_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
